.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/bin/

.classpath
.project
app/build/
app/bin/
app/build.gradle

.metadata/
.settings/
app/.settings/
app/data.db

.DS_Store
app/.DS_Store
